*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.conteiner{
    max-width: 80%;
    margin: 0 auto;
}
header{
    display: flex;
   align-items: center;
    justify-content: space-between;
    height: 10vh;
}
.nav{
    display: flex;
    list-style: none;
    width: 250px;
    justify-content: space-between;
    height: 100%;
}
.nav li{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 20px;
text-transform: uppercase;
color: #404040;
}

.header__left{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 18px;
}
.header__left span{
    font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 38px;
text-transform: uppercase;
color: #333333;
}

.main{
    height: 391px;
    background-image: url(./image/main.png);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.line{  
    width: 80px;
    height: 2px;
    background: #FFFFFF;
    border-radius: 0px;
    margin: 28px 0 25px 0;
   
    
}
.main h1{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 44px;
line-height: 55px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;


}

.main p{
    font-family: 'Vollkorn';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
text-align: center;
color: rgba(255, 255, 255, 0.81);
/* margin: 25px 0 ; */
}




.subMain{
    height: 287px;
    background: #FEFEC9;
    margin: 0;
    display: flex;
    flex-direction: column;
   align-items: center;
   padding: 34px 0 59px;
   gap: 30px;


}
.subMain p{
    width: 850px;
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #47474F;
}
.subMain a button{
    font-family: 'Vollkorn';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
text-align: center;
color: #47474F;
background: rgb(255, 255, 255, 0);
padding: 13px 34px 20px;
display: flex;
}

.projects{
    background: #F5F5F5;
    padding: 79px 250px 89px; 
    display: flex;
    flex-direction: column;
    align-items: center;

}
.projects h2{

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 36px;
    text-transform: uppercase;
    color: #333333;
    margin: 69px 0 74px;
    display: flex;
    align-items: center;



}

.projects__items{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
     
}


.projects__item{
    width: 30%;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    


}

.projects__item img{
    width: 300px;
    height: 300px;
    margin-bottom: 19px;

}
.projects__item h3{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
text-transform: uppercase;
color: #333333;
margin-bottom: 4px;
padding-bottom: 21px;
}
.projects__item p{
font-family: 'Vollkorn';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #333333;
}

.team{
    /* max-width: 100%; */
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 970px;
    height: 616px; */
    padding: 79px 0 99px;
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; */
}

h5{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 36px;
text-align: center;
text-transform: uppercase;
color: #333333;
margin-bottom: 73px;


}

/* .team lim{
    width: 80px;
    height: 20px;
    background: #000000 ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 28px;
} */

.team h2{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 36px;
text-align: center;
text-transform: uppercase;
color: #333333;
}

.items__item{

    width: 22%;
}
 .team__items{
    display: flex;
    justify-content: space-between;
    gap: 20px;

 }



.items__item h6{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
text-align: center;
text-transform: uppercase;
color: #333333;
}
.items__item p{
    font-family: 'Vollkorn';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
text-align: center;

color: #333333;
}
.items__item .item_soc{
display: flex;
justify-content: center;
gap: 13px;
align-items: center;
margin-top: 31px;
/* height: 35px;    */

}

.items__item .item_soc img{
    padding: 1px 5px;
    background-color: #F5F5F5; 

}

.review{
    background: #F5F5F5;
    padding: 69px 0 98px;
}


.reviev__img{

   display: flex;
   justify-content: center;
   margin-bottom: 65px;
}

.reviev__items{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.reviev__item{
    width: 450px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 52px;
    
}

.reviev__item :first-child{
    border-right: 5px solid  rgba(0, 0, 0, 0.04);
    
    
}


.reviev__item p{
    font-family: 'Vollkorn';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 33px;
text-align: center;
color: #333333;
margin-bottom: 24px;
}

.reviev__item .abv{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
text-align: center;
text-transform: uppercase;
color: #ABABAB;
margin-top: 10px;
}

 
 .LETs{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 517px;
    background: #7EC4BD;
    padding: 69px 250px 69px;
    gap: 149px;
}  

.LETs h3{
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 36px;
text-transform: uppercase;
color: #333333;
margin: 79px 597px 402px;
position: absolute;
width: 245px;
height: 36px;
}

.lets1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
   
}

.lets1 .konvert{
    width: 70px;
height: 50px;
margin-top: 93px;

}
.lets1 .serdse{
    width: 68px;
    height: 56px;
}



.lets1 img{

width: 44px;
height: 65px;
margin-top: 86px;
display: flex; 
justify-content: center;
align-items: center; 
flex-direction: column; 

/* 
margin: 132px 0 181px 128px;  */
}
.lets1 p{
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    color: #212121;
    margin-top: 20px;
    /* margin: 20px 0 97px; */
}
















.box{
    background: white;
    padding: 79px 250px 71px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    }

.box h4{
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 36px;
text-align: center;
text-transform: uppercase;
color: #333333;
margin-bottom: 79px;

}

.hello_items{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hello1{
    max-width: 30%;
    background:  #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.hello1 img{
    width: 100%;
    height: 300px;
    /* margin-bottom: 88px; */
    margin: 50px 87px 50px 87px;
}

.hello1 h5{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

text-transform: uppercase;
color: #333333;
margin-bottom: 20px;
}
.hello1 p{
    
    font-family: 'Vollkorn';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
color: #333333;
padding-bottom: 74px;
text-align: center;
}

.hello2{
    max-width: 30%;
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}
.hello2 img{
    width: 100%;
    height: 300px;
    /* margin-bottom: 88px; */
    margin: 50px 87px 50px 87px;
}

.hello2 h5{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

text-transform: uppercase;
color: #333333;
margin-bottom: 20px;
}
.hello2 p{
    font-family: 'Vollkorn';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
color: #333333;
padding-bottom: 74px;
text-align: center;
}

.hello3{
    max-width: 30%;
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.hello3 img{
    width: 100%;
    height: 300px;
    /* margin-bottom: 88px; */
    margin: 50px 87px 50px 87px;
}

.hello3 h5{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

text-transform: uppercase;
color: #333333;
margin-bottom: 20px;
}
.hello3 p{
    font-family: 'Vollkorn';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
color: #333333;
padding-bottom: 74px;
text-align: center;
}





footer{
    background: #000000;
    padding: 69px 438px 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

}

.footer__items{
    display: flex;
    flex-direction: column;
    border: none;
    outline: none;
}

.footer__items input{
    width: 564px;
    height: 57px;
    outline: none;
    padding-left: 17px;
    border: none;

}
.footer__items input::placeholder{
    
font-family: 'Vollkorn';
font-style: italic;
font-weight: 400;
font-size: 17px;
line-height: 22px;
color:  rgba(255, 255, 255, 1);
}
.footer__items textarea{
    
    font-family: 'Vollkorn';
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color:  rgba(255, 255, 255, 1);
    padding-top: 5px;
    padding-left: 5px;
    
    }

.footer__items input:nth-child(odd){
    background: rgba(255, 255, 255, 0.18);
}
.footer__items input:nth-child(even){
    background: rgba(255, 255, 255, 0.2);
}

.footer__items textarea{
    height: 127px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    outline: none;
 

}

footer button{
    font-family: 'Vollkorn';
font-style: italic;
font-weight: 400;
font-size: 17px;
line-height: 22px;
text-align: center;
color: #8BCAC3;
padding: 15px 60px;
background: rgba(255, 255, 255, 0);
border: 1px solid #7EC4BD;
margin-top: 10px;

}


footer .logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p{
    font-family: 'Vollkorn';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
text-align: center;
color: rgba(255, 255, 255, 0.4);
margin-top: 10px;
}

h4{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 36px;
text-align: center;
text-transform: uppercase;
color: #333333;
/* margin: 79px 28px; */
/* display: flex;
justify-content: center;
align-items: center; */
}









